// -------------------------
//  FONTS
//--------------------------
$primary-font: Arial, Helvetica, sans-serif;

// -------------------------
//  COLORS
//--------------------------
$primary-color: #ec7000;
$secondary-color: #003399;
$dark: #303030;
$dark-light: #7c7c7c;
$light: #fff;
