// -------------------------
//  FONTS
//--------------------------
$primary-font: Arial, Helvetica, sans-serif;

// -------------------------
//  COLORS
//--------------------------
$primary-color: #ec7000;
$primary-color-light: #efe9e4;
$secondary-color: #003399;
$dark: #303030;
$dark-light: #7c7c7c;
$light: #fff;

// -------------------------
//  EFFECTS
//--------------------------
$shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
