<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Searchbar</title>
</head>
<body>
    <svg style="display:none;">
        <defs>
          <g id="search">
            <path fill="#90A4AE" d="M22.9,20.1h-1.5l-0.5-0.5c1.8-2.1,2.9-4.8,2.9-7.7C23.8,5.3,18.5,0,11.9,0S0,5.3,0,11.9s5.3,11.9,11.9,11.9
            c3,0,5.7-1.1,7.7-2.9l0.5,0.5v1.4l9.1,9.1l2.7-2.7L22.9,20.1z M11.9,20.1c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2s8.2,3.7,8.2,8.2
            S16.4,20.1,11.9,20.1z"/>
          </g>
        </defs>
    </svg>

    <div class="searchbox">
        <div class="searchbox__wrapper">
           <input type="text" class="searchbox__input" placeholder="Faça sua busca">
           <button type="submit" class="searchbox__input--button">
            <svg class="searchbox__input--icon" viewBox="0 0 48 48">
              <use xlink:href="#search"></use>
            </svg>
          </input>
             <!-- Add SVG -->
          </button>
        </div>
     </div>
</body>
</html>