// -------------------------
//  COMPONENT STYLES
//--------------------------

.extract-box {
  border: 1px solid $dark-lighter;
  border-radius: 10px;
  box-shadow: $shadow;
  width: 100%;
  padding: 36px;

  &--cards {
    margin: 38px auto;
  }

  &__title {
    color: $primary-color;
    font-size: 22px;
    margin: 0 0 48px;
  }
}

.extract-box__table {
  width: 100%;

  &-head {
    color: $primary-color;
    font-weight: bold;

    &:last-child {
      text-align: right;
    }

    &:not(:last-child) {
      text-align: left;
    }
  }

  &-body {
    color: $dark-light;

    &::before {
      line-height: 1em;
      content: ".";
      color: $light;
      height: 25px;
      display: block;
    }

    tr > td {
      padding-bottom: 15px;
    }
  }
}

@include breakpoint(desktop-max) {
  .extract-box__overflow {
    overflow-x: scroll;
  }

  .extract-box__table {
    min-width: 500px;
  }
}
